MONGODB_URI=mongodb://localhost:27017/quotio
JWT_SECRET=change_this_to_a_long_random_secret
PORT=3000

#For live gas prices 
EIA_API_KEY=

#For RAG you can get both Groq and Tavily keys for free simply sign in 
GROQ_API_KEY=
TAVILY_API_KEY=